<mat-card>
  <div *ngIf="isSignup">
    <h3>Criar conta</h3>

    <button mat-stroked-button (click)="changeType('login')">
      Já tem conta?
    </button>
  </div>

  <div *ngIf="isLogin">
    <h3>Login</h3>
    <button size="small" mat-stroked-button (click)="changeType('signup')">
      Não tem conta?
    </button>
  </div>

  <div *ngIf="isPasswordReset">
    <h3>Esqueci a senha</h3>
    <button size="small" mat-button (click)="changeType('login')">Voltar</button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email.valid && 'accent'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />

      <mat-error *ngIf="email.invalid && email.dirty">
        Parece que você informou um email inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="email.valid && 'accent'" *ngIf="!isPasswordReset">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Senha"
        autocomplete="off"
      />

      <mat-error *ngIf="password.invalid && password.dirty">
        Sua senha deve ter no mínimo 6 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [color]="passwordDoesMatch ? 'accent' : 'warn'"
      *ngIf="isSignup"
    >
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirme sua esnha"
        autocomplete="off"
      />

      <mat-error *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
        As senhas não estão iguais
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error">{{ serverMessage }}</mat-error>

    <button
      *ngIf="isPasswordReset"
      mat-stroked-button
      type="submit"
      [disabled]="loading"
    >
      Enviar email
    </button>

    <button
      *ngIf="!isPasswordReset"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || !passwordDoesMatch || loading"
    >
      Enviar
    </button>
  </form>

  <button
    mat-button
    *ngIf="isLogin && !isPasswordReset"
    (click)="changeType('reset')"
  >
    Esqueci minha senha
  </button>
</mat-card>
