@import '~@angular/material/theming';
@import 'custom/core.scss';
@import 'custom/theme.scss';

$app-primary: mat-palette($mat-deep-purple);
$app-accent: mat-palette($mat-cyan);
$app-warn: mat-palette($mat-red);

$app-dark-primary: mat-palette($mat-indigo);
$app-dark-accent: mat-palette($mat-yellow);
$app-dark-warn: mat-palette($mat-red);
// $color: (
//   primary: $app-primary,
//   accent: $app-accent,
//   warn: $app-warn,
// );

$mat-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$mat-dark-theme: mat-dark-theme(
  $app-dark-primary,
  $app-dark-accent,
  $app-dark-warn
);

@include app-theme-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Fira Code', monospace;
}

.spacer {
  flex: 1 0 auto;
}

.dark-theme {
  @include app-theme($mat-dark-theme);
}
.light-theme {
  @include app-theme($mat-light-theme);
}
