:host {
  .mat-toolbar {
    .mat-icon {
      color: orange;
      margin-right: 12px;
      border-radius: 50%;
    }
    font-family: 'Fira Code', monospace;

    .mat-slide-toggle {
      // width: 100px;
      margin: 0 40px;
    }
    .mat-button-base {
      margin: 0 12px;
    }
    img.user-button {
      height: 100%;
      padding: 4px;
      max-height: calc(100% - 8px);
    }
  }
}
