import {Create<%= className %>, Update<%= className %>} from '../dtos'
import {Service} from '@dev/shared-util-data'
import {<%= className %>} from '../entities'
import {Observable} from 'rxjs'

export abstract class <%= className %>Service implements Service<<%= className %>> {
  abstract override create(value: Create<%= className %>): Observable<<%= className %>>
  abstract override update(value: Update<%= className %>): Observable<<%= className %>>
}
