<div cdkDropListGroup>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="boards"
    (cdkDropListDropped)="drop($event)"
  >
    <meet-board cdkDrag *ngFor="let board of boards" [board]="board">
      <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
    </meet-board>

    <div class="board-button">
      <button
        mat-raised-button
        color="accent"
        cdkDragDisabled
        (click)="openBoardDialog()"
      >
        Novo board
      </button>
    </div>
  </div>
</div>
