:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff50;

  .sky {
    width: 80px;
    height: 40px;
    border-radius: 100px 100px 0 0;
    background: linear-gradient(0deg, #0000, #fff, #0000) 70% 30%,
      linear-gradient(90deg, #0000, #fff, #0000) 72% 32%,
      linear-gradient(0deg, #0000, #fff, #0000) 26% 42%,
      linear-gradient(90deg, #0000, #fff, #0000) 23% 44%,
      linear-gradient(0deg, #0000, #fff, #0000) 51% 54%,
      linear-gradient(90deg, #0000, #fff, #0000) 51% 53% #020308;
    background-size: 2px 10px, 10px 2px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }

  .sky:before,
  .sky:after {
    content: '';
    position: absolute;
    inset: 100% auto auto 20px;
    height: 3px;
    width: 20px;
    background: linear-gradient(90deg, #0000, #fff);
    transform-origin: right;
    transform: rotate(-20deg) translate(-20px);
    animation: sky 2s infinite;
  }

  .sky:after {
    inset: 100% auto auto -5px;
    animation-delay: 0.75s;
  }
}
@keyframes sky {
  100% {
    transform: rotate(-20deg) translate(120px);
  }
}
