import {<%= className %>} from '<%= domain %>'
import {ApiProperty} from '@nestjs/swagger'

export class <%= className %>Dto implements <%= className %> {
<% for(let prop of entity.props) { %>
  @ApiProperty()
  <%= prop.name %>: <%= prop.type %>
<% } %>
}
