import {Create<%=className%>} from '<%=domain%>'
import {ApiProperty} from '@nestjs/swagger'
import {IsNotEmpty} from 'class-validator'

export class Create<%=className%>Dto implements Create<%=className%> {
<% for(let prop of entity.props) if (!['id','createdAt','updatedAt'].includes(prop.name)) { %>
  @ApiProperty()
  @IsNotEmpty({message: 'por favor, preencha o <%= prop.name %>'})
  <%= prop.name %>: <%= prop.type %>
<% } %>
}
