import {Create<%=className%>} from '<%=domain%>'
import {ApiProperty} from '@nestjs/swagger'
import {IsNotEmpty, IsString} from 'class-validator'

export class Create<%=className%>Dto implements Create<%=className%> {
  @ApiProperty()
  @IsString({message: 'o nome deve ser uma string'})
  @IsNotEmpty({message: 'por favor, preencha o nome'})
  name: string
}
