$primary-palette: (
  50: #e2e2e2,
  100: #b8b8b8,
  200: #888888,
  300: #585858,
  400: #353535,
  500: #111111,
  600: #0f0f0f,
  700: #0c0c0c,
  800: #0a0a0a,
  900: #050505,
  A100: #ff4e4e,
  A200: #ff1b1b,
  A400: #e70000,
  A700: #ce0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #e8feea,
  100: #c5fdcb,
  200: #9efca8,
  300: #77fb85,
  400: #5afa6a,
  500: #3df950,
  600: #37f849,
  700: #2ff740,
  800: #27f637,
  900: #1af527,
  A100: #ffffff,
  A200: #f4fff4,
  A400: #c1ffc4,
  A700: #a7ffac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette: (
  50: #ffe0e0,
  100: #ffb3b3,
  200: #ff8080,
  300: #ff4d4d,
  400: #ff2626,
  500: #ff0000,
  600: #ff0000,
  700: #ff0000,
  800: #ff0000,
  900: #ff0000,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
