@use './scss/grid' as grid;
@import '@angular/cdk/overlay-prebuilt.css';
@import './scss/theme';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  @include grid.colSizes(16);
  
  a:link {
    text-decoration: none;
  }

  .spacer {
    flex: 1 0 auto;
  }

  .fixed {
    position: fixed;
  }

  .b20 {
    bottom: 20px;
  }

  .r20 {
    right: 20px;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  .cdk-overlay-container {
    .mat-mdc-menu-content {
      padding: 0;
    }
    .mat-mdc-menu-panel {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
