@use './scss/grid' as grid;
@import '@angular/cdk/overlay-prebuilt.css';
@import './scss/override';
@import './scss/theme';
@import './scss/fonts';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-size: 1rem;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;

  @include grid.colSizes(16);

  a:link {
    text-decoration: none;
  }

  .spacer {
    flex: 1 0 auto;
  }

  .fixed {
    position: fixed;
  }

  .b20 {
    bottom: 20px;
  }

  .r20 {
    right: 20px;
  }
}
