<header>
  <h1>Gui Seek</h1>

  <iframe
    width="1180"
    height="630"
    src="https://www.youtube.com/embed/Y1mx7cx6ckI"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <p>
    <button mat-raised-button meetGoogleSignin>
      <img src="/assets/google-logo.svg" /> Login com Google
    </button>

    <a mat-raised-button color="primary" routerLink="/board">Usar o board</a>

    <a mat-raised-button color="accent" routerLink="/kanban">Usar o kanban</a>

    <a mat-raised-button routerLink="/login">
      <mat-icon>alternate_email</mat-icon>
      Login com email
    </a>
  </p>
</header>
