export interface Create<%= className %> {
<% for(let prop of entity.props) { %>
  <% if (!['id','createdAt','updatedAt'].includes(prop.name)) { %>
  <%= prop.name %>: <%= prop.type %>
  <% } %>
<% } %>
}
