@use '../scss/palette' as gui;
@use 'sass:map' as map;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    &.mat-primary {
      overflow: visible;
      z-index: 10;
    }
    .mat-mdc-button-base {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 150ms ease-in-out;

      font-size: 1rem;

      &.active {
        color: map.get(gui.$accent-palette, 500);
      }

      &:not(.mat-mdc-icon-button) {
        padding: 0 16px;
      }
      &.mat-mdc-icon-button {
        width: 64px;
      }
    }
  }

  .app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .app-is-mobile .app-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  a.app-name {
    margin-left: 8px;
    color: #ffffff85;
    transition: color 300ms ease-in-out;
    &:hover {
      color: #ffffff;
    }
  }

  .app-sidenav-container {
    flex: 1;
  }

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .app-is-mobile .app-sidenav-container {
    flex: 1 0 auto;
  }
}
