import { Component, ChangeDetectionStrategy} from '@angular/core'

@Component({
  selector: 'dev-<%=feature%>',
  template: `<router-outlet />`,
  styleUrls: ['./<%=feature%>.container.scss'],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%=featureName%>Container {}